source /boot/grub/config.cfg

menuentry "Install kaiseki" {
	linux	@KERNEL_LIVE@ @APPEND_LIVE@
	initrd	@INITRD_LIVE@
}

if [ "${grub_platform}" = "efi" ]; then
	menuentry "UEFI firmware settings" {
		fwsetup
	}
fi
